@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
	background: repeating-linear-gradient(45deg, #fdf6e3, #fdf6e3 100px, #002b36 100px, #002b36 200px);
	min-height: 100vh;
	background-attachment: fixed;
}

.content-container {
	background: #fdf6e3;
	box-shadow: #002b36;
	padding: 1rem;
} */

.container {
	max-width: 1024px;
}

.basis-25 {
	flex-basis: 20%;
}

@media print {
	.print\:hidden {
		display: none;
	}
}

@media print {
	@page {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
	}
	body {
		padding: 3rem 4rem !important;
		-webkit-print-color-adjust: exact !important;
		color-adjust: exact !important;
		color: black !important;
	}
	html {
		font-size: 12.288px !important;
	}
}