@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
	.print\:hidden {
		display: none;
	}
}

@media print {
	@page {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
	}
	body {
		padding: 3rem 4rem !important;
		-webkit-print-color-adjust: exact !important;
		color-adjust: exact !important;
		color: black !important;
	}
	html {
		font-size: 12.288px !important;
	}
}