
@media only screen and (max-width: 480px) {
	html {
	font-size: 100%;
	}
}

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

@media print {
	.no-print, .no-print * {
	display: none !important;
	}
	.cols {
	display: block;
	}
}

.fill-current {
	fill: currentColor;
}
.cols {
	display: flex;
	flex-direction: row;
}
.cols .col {
	flex: 1;
	margin: 0 15px;
}
.xp-header {
	padding-top: 10px;
	font-size: 0.9rem;
	color: #8aa0ae;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.xp {
	margin-bottom: 15px;
	font-family: Nunito;
}
.xp-list {
	padding-bottom: 12px;
}
.title {
	margin: 0;
	font-size: 1rem;
	font-weight: 700;
	font-family: Nunito;
	margin-bottom: 2px;
}
.title-div a {
	text-decoration: none;
}
.subtitle {
	color: #7e878e;
}
.xp-body {
	margin-top: 6px;
}
.link-icon {
	display: inline-block;
	width: 1.15rem;
	vertical-align: bottom;
	margin-left: 5px;
}
.navbar {
	background: #2f477e;
	margin-bottom: 1.45rem;
}
body {
	font-family: "Open Sans";
}